
#password-strength-meter {
    position: absolute;
    display: block;
    top: 0;
    background-color: white;
    border: 3px solid #EFEFEF;
}

#plugin-body {
    margin: 15px;
}

#password-strength-meter-meter-strength {
    font-size: small;
    text-align: right;
    display: block;
}

.check-icon {
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
}

.check-icon.checked {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAt0lEQVR42mNgoCPgBOIQINYDYkZSNMoC8VYgPg3EOqRo1ADiA0D8BIi1SdFoBcQngPg+ELuTqvEKEH8F4mIgZsGmSBnqD2RJRSDeD8R/gHgTEPNi08gExNVA/BiIy4BYHIj5gHg9EP8H4otALI/PeQ5A/BKIv0FDdBsQ/wbij0DsSYz/SqEa/kMxiN0LxOzEJoDlSAZcB2IDUkJXCYjPQzWnkZqKQIGXDsSbgZiVnPQLihIRmucSAOC0Inyqp4v1AAAAAElFTkSuQmCC);
}

#password-strength-meter ul {
    list-style: none;
    margin: 0;
    padding: 10px 0;
}

#sidebar {
    position: relative;
    /*top: 20px;
    left: 270px;*/
}

.direction {
    border-left: 15px solid transparent;
    display: inline-block;
    border-bottom: 15px solid transparent;
    border-top: 15px solid transparent;
    position: absolute;
    left: -30px;
    font-size: 0;
    top: 10px;
}

.direction.direction-white {
    border-right: 15px solid #efefef;
}